extends layout

block content
  .wrapper
    header
      .logo
        img(src="./images/pi-logo.png")
        .cy-name Purpose
          em Industries
      .navigation
        nav
          ul
            li: a(href="#") blog
            li: a(href="#") twitter
            li: a(href="#") facebook

    .main
      p Constant change is a fundamental principle of nature. Embracing it, learning to adapt to it through continuous learning and iteration, and mastering a meaningful craft is what drives humans' lives forward.
      p Here at Purpose Industries we build ventures. We believe that a small group of curios, persistent and non-conform people can have an enormous impact. We strive to be that impact. We are a team of individuals who unite along each other's journey. Together we combine technology and beautiful interfaces to provide cutting-edge solutions for real-life problems. The goal of our collaboration is to build products that enrich people's lives, and to enjoy every moment in the process. Ultimately, we strive to make an impact on how our users go about doing the things that matter to them.

    .divider

    a.hiring(href="https://pi.workable.com/") We're hiring!
    footer
      p (c) 2016, Purpose Industries Services Kft.
