extends layout

block content
  .wrapper
    header
      .logo
        img(src="./images/pi-logo.png")
        .cy-name Purpose
          em Industries
      .navigation
        nav
          ul
            li: a(href="#") blog
            li: a(href="#") twitter
            li: a(href="#") facebook

    .main
      p Constant change is a fundamental principle of nature. Embracing it, learning to adapt to it through continuous learning and iteration, and mastering a meaningful craft is what drives humans' lives forward.
      p We believe that a small group of curios, persistent and non-conform people can have an enormous impact. Purpose Industries wants to be that impact. We are a team of individuals who unite along each other's journey. Together we combine technology and beautiful interfaces to provide cutting-edge solutions for real-life problems. The goal of our collaboration is to build products that enrich people's lives, and to enjoy every moment in the process. Ultimately, we strive to make an impact on how our users go about doing the things that matter to them.

    .divider

    .jobs
      h1 Current jobs
      h2 Frontend Developer
      p We are looking for an experienced front-end developer that breathes JavaScript and is passionate about elegant, responsive state of the art web interfaces. You're able to quickly fix bugs, focus on solutions, and look for new ways to improve whatever comes your way.

      p You will collaborate with and grow alongside our designer and engineering team. You embrace team play and are keen on new challenges in a startup environment. You love consumer facing products.

      p The position is based in Budapest, Hungary.

      h3 Your key responsibilities:
      ul.resp
        li Work with the team to improve and quickly iterate our web application based on incoming qualitative and quantitative user data. Data beats opinion
        li Implement high-end JavaScript frontend applications using modern techniques
        li Analyze and constantly improve application performance

      h3.skills Required skills and experience:
      ul
        li Strong knowledge of JavaScript
        li Visual and interaction designs in HTML, CSS and JavaScript
        li Eye for a pixel perfect layout
        li Ideally familiar with SketchApp
        li Responsive web skills, cross-browser / cross-platform development
        li Less
        li Jade
        li Debugging tools such as Chrome Dev Tools, Firebug (fps, memory consumption)
        li Git version control
        li Server side experience
        li Web development frameworks such as Backbone.js, Browserify or at least familiar with Node.js module structure and npm
        li Testing tools such as mocha, should, expect

        p If this sounds like you, and you’re excited about the opportunity as well as to work in a fast-paced start-up environment, please send a ping our way.

        script(src='//platform.linkedin.com/in.js') api_key: 77wns6jr1y3c9w
        script(type='IN/Apply', data-companyid='3118261', data-jobtitle='Frontend Developer', data-joblocation='Budapest', data-email='tl@purposeindustries.co')

    footer
      p (c) 2014, Purpose Industries Services Kft.