extends layout

block content
  .wrapper
    header
      .logo
        img(src="./images/pi-logo.png")
        .cy-name Purpose
          em Industries
      .navigation
        nav
          ul
            li: a(href="#") blog
            li: a(href="#") twitter
            li: a(href="#") facebook

    .main
      p Constant change is a fundamental principle of nature. Embracing it, learning to adapt to it through continuous learning and iteration, and mastering a meaningful craft is what drives humans' lives forward.
      p We believe that a small group of curios, persistent and non-conform people can have an enormous impact. Purpose Industries wants to be that impact. We are a team of individuals who unite along each other's journey. Together we combine technology and beautiful interfaces to provide cutting-edge solutions for real-life problems. The goal of our collaboration is to build products that enrich people's lives, and to enjoy every moment in the process. Ultimately, we strive to make an impact on how our users go about doing the things that matter to them.

    .divider

    .jobs
      h1 Current jobs
      h2 Administrative Assistant
      p We are looking for an experienced Administrative Assistant to provide a well-organised supportive work to our whole team and the commercial team in particular. You are passionate about overseeing and structuring the organisation’s activities and plan with foresight. You focus on solutions instead of the problem, and look for effective ways to handle whatever comes your way.

      p You embrace team play and are keen on new challenges in a startup environment. We are tech savvy, you should be too.

      p The position is based in Budapest, Hungary.

      h3 Your key responsibilities:
      ul.resp
        li Develop, implement, maintain and monitor administrative and filing systems, procedures and policies.
        li Oversee, coordinate and monitor our sales team in their acquisition efforts.
        li Oversee, coordinate and monitor our content tagging team.
        li Handle incoming support request and queries by our clients via Zendesk.
        li Prepare the required documentation for our accountants and supervise all accounting related matters.
        li Support our product team in their pursuit to improve our product by contacting selected consumer for customer interviews.
        li Manage all human resources related matters.
        li Oversee and execute payout to suppliers and business partners.
        li Produce reports to support decision making processes.
        li Analyze and improve operating practices throughout the whole organisation.
        li Maintain our office infrastructure and supply.
        li Resolve ad hoc administrative tasks.

      h3.skills Required skills and experience:
      ul
        li At least 2 years of hands-on experience as project or office manager.
        li Effective organisation and time management skills.
        li Ability to multitask and prioritise daily workload.
        li Knowledge of project and office management systems and procedures.
        li Excellent verbal, written and in-person communication skills in English.

        p If this sounds like you, and you are excited about the opportunity as well as to work in a fast-paced start-up environment, please send a ping our way.

        script(src='//platform.linkedin.com/in.js') api_key: 77wns6jr1y3c9w
        script(type='IN/Apply', data-companyid='3118261', data-jobtitle='Administrative Assistant', data-joblocation='Budapest', data-email='tl@purposeindustries.co')

    .divider
    .jobs
      h2 Online Performance Marketer
      p We are looking for an experienced Online Performance Marketer in continuous pursuit of quality traffic and deep passion for optimizing conversion. You're able to quickly react on new opportunities, focus on solutions instead of the problem, and look for new ways to improve whatever comes your way.

      p You will be the first addition to our growth team and work alongside our management and product team to move the needle in our favour. You embrace team play and are keen on new challenges in a startup environment. You love consumer facing products.

      p The position is based in Budapest, Hungary.

      h3 Your key responsibilities:
      ul.resp
        li Search out and test paid media channels, including CPC, CPM, retargeting. Ditching channels that don’t generate a positive ROI and optimizing the ones that do.
        li Build up our affiliate program and acquire affiliate publishing partners on a CPA basis.
        li Define success criteria and KPIs for campaigns and implement the reports & dashboards on GA prior to every campaign launch.
        li Measure, track and report the performance of each channel.
        li Manage partner needs including deal negotiations, reporting, tracking, offer setup, general client support.
        li Work with the product team to improve and quickly iterate our web application based on incoming quantitative user data. Data beats opinion.


      h3.skills Required skills and experience:
      ul
        li At least 2 years of hands-on experience as project or office manager.
        li Effective organisation and time management skills.
        li Ability to multitask and prioritise daily workload.
        li Knowledge of project and office management systems and procedures.
        li Excellent verbal, written and in-person communication skills in English.


        p If this sounds like you, and you are excited about the opportunity as well as to work in a fast-paced start-up environment, please send a ping our way.

        script(src='//platform.linkedin.com/in.js') api_key: 77wns6jr1y3c9w
        script(type='IN/Apply', data-companyid='3118261', data-jobtitle='Online Performance Marketer', data-joblocation='Budapest', data-email='tl@purposeindustries.co')
    footer
      p (c) 2014, Purpose Industries Services Kft.