extends layout

block content
  .wrapper
    header
      .logo
        img(src="./images/pi-logo.png")
        .cy-name Purpose
          em Industries
      .navigation
        nav
          ul
            li: a(href="#") blog
            li: a(href="#") twitter
            li: a(href="#") facebook

    .main
      p Constant change is a fundamental principle of nature. Embracing it, learning to adapt to it through continuous learning and iteration, and mastering a meaningful craft is what drives humans' lives forward.
      p We believe that a small group of curios, persistent and non-conform people can have an enormous impact. Purpose Industries wants to be that impact. We are a team of individuals who unite along each other's journey. Together we combine technology and beautiful interfaces to provide cutting-edge solutions for real-life problems. The goal of our collaboration is to build products that enrich people's lives, and to enjoy every moment in the process. Ultimately, we strive to make an impact on how our users go about doing the things that matter to them.

    .divider

    .jobs
      h1 Current jobs
      h2 Administrative Assistant
      p We are looking for an experienced Administrative Assistant to provide a well-organised supportive work to our whole team and the commercial team in particular. You are passionate about overseeing and structuring the organisation's activities and plan with foresight. You focus on solutions instead of the problem, and look for effective ways to handle whatever comes your way.

      p You embrace team play and are keen on new challenges in a startup environment. We are tech savvy, you should be too.

      p The position is based in Budapest, Hungary.

      h3 Your key responsibilities:
      ul.resp
        li Develop, implement, maintain and monitor administrative and filing systems, procedures and policies.
        li Oversee, coordinate and monitor our sales team in their acquisition efforts.
        li Oversee, coordinate and monitor our content tagging team.
        li Handle incoming support request and queries by our clients via Zendesk.
        li Prepare the required documentation for our accountants and supervise all accounting related matters.
        li Support our product team in their pursuit to improve our product by contacting selected consumer for customer interviews.
        li Manage all human resources related matters.
        li Oversee and execute payout to suppliers and business partners.
        li Produce reports to support decision making processes.
        li Analyze and improve operating practices throughout the whole organisation.
        li Maintain our office infrastructure and supply.
        li Resolve ad hoc administrative tasks.

      h3.skills Required skills and experience:
      ul
        li At least 2 years of hands-on experience as project or office manager.
        li Effective organisation and time management skills.
        li Ability to multitask and prioritise daily workload.
        li Knowledge of project and office management systems and procedures.
        li Excellent verbal, written and in-person communication skills in English.

        p If this sounds like you, and you are excited about the opportunity as well as to work in a fast-paced start-up environment, please send a ping our way.

        a.apply(href='mailto:letmein@purposeindustries.co?subject=Administrative Assistant') apply

    .divider
    .jobs
      h2 Creative Copywriter and Social Marketer
      p We are looking for an experienced Creative Copy Writer and Social Marketer to deliver juicy stories our followers love to engage with. You are a creative juggernaut with the ability to follow through with every step from idea to execution. You understand that an idea is measured by results. Ultimately data beats opinion.

      p You will be the second addition to our growth team and work alongside our performance marketer and product team to move the needle in our favour. You embrace team play and are keen on new challenges in a startup environment. You love adult content and consumer facing products.

      p The position is based in Budapest, Hungary.

      h3 Your key responsibilities:
      ul.resp
        li Develop and execute on creative ideas and concepts to engage and grow our audience on all major social channels.
        li Respond to social interactions in a timely manner.
        li Write clear, persuasive and original copy that benefits the ranking of specific keywords on Google.
        li Project manage advertising campaigns by involving designers, photographers and production companies to complete the campaign and deliver expected results.
        li Work with performance marketer to fully develop campaigns to reach optimal impact.
        li Stay up to date with news about porn stars and engage with them on all major channels.
        li Work with the product team to improve and quickly iterate our web application based on incoming user sentiment.
        li Check copy for spelling and grammar errors.

      h3.skills Required skills and experience:
      ul
        li At least 2 years of professional hands-on experience with copywriting. Ideally in English.
        li Photo editing skills.
        li Advanced understanding of SEO principles. Experience with how to translate this knowledge into the copy you write.    
        li Commercial sense to be able to spot & exploit opportunities and translate them into social marketing campaigns on the spot.
        li Verbal, written and in-person communication skills in English. Ideally native speaker.

        p If this sounds like you, and you are excited about the opportunity as well as to work in a fast-paced start-up environment, please send a ping our way.

        a.apply(href='mailto:letmein@purposeindustries.co?subject=Online Performance Marketer') apply

    .divider
    .jobs
      h2 Sales Executive
      p We are looking for an experienced Sales Executive with inextinguishable drive to succeed. Your focus is purely on driving adult content producers/providers to join Weloveporn. The role is suited to those who are 'sales hungry', value effectiveness and results that matter. 

      p You will be the first addition to our sales team and work alongside our management team to move the needle in our favour. You have empathy for people, focus on solutions instead of the problem and embrace team play. You love the adult industry.

      p The company is based in Budapest, Hungary but we need you on the field not on site.

      p Your key responsibility is to ensure that there is a constant stream of fresh content ready for our growing and content hungry consumer base.

      h3 Your responsibilities in detail:
      ul.resp
        li Identify potential content studios and close content partner deals by coordinating requirements and negotiating contracts.
        li Acute attention that all sales opportunities are captured and exploited in our favour.
        li Present Weloveporn to potential content partners through direct communication in face to face meetings, telephone calls and emails.
        li Develop an ambitious sales pipeline.
        li Manage and maintain the sales pipeline.
        li Develop and enhancing sales materials.
        li Effective interaction with our development and content tagging team to avoid bottlenecks with content onboarding.

      h3.skills Required skills and experience:
      ul
        li At least 2 years of hands-on experience with sales and proven success in sales ability.
        li Proven knowledge of and experience with the adult industry.
        li Extensive network of and working experience with content producers/providers.
        li Confident negotiator and ability to 'close the deal'.
        li Ability to set very high but realistic goals and keep promises.
        li Tenacity and drive also in times when everybody else would rather give up.
        li Highly organised with the needed time management skills.
        li Verbal, written, in-person communication and presentation skills in English.

        p If this sounds like you, and you are excited about the opportunity as well as to work in a fast-paced start-up environment, please send a ping our way letmein@purposeindustries.co

        a.apply(href='mailto:letmein@purposeindustries.co?subject=Sales Executive') apply

    footer
      p (c) 2014, Purpose Industries Services Kft.